*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   background-color: #e7e0dd;
}
#choiceBar{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   height: 70px;
   border-bottom: 1px solid black;
}
#choiceBar *{
   height: 30px;
   outline: none;
}
#choiceBar button{
   padding: 5px 10px;
}

#chartsWrapper{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   height: 600px;
   width: 1000px;
   margin: auto;
}
.chart-cnt{
   background-color: #d2e8e7;
   padding: 10px;
   border-bottom: 1px solid black;
}
.chart-cnt:last-child{
   border-bottom: none;
}
.chartsWrapper::after{
   content: '';
   display: table;
   clear: both;
}
